{% extends 'bootstrap/base.html' %}

{% block title %}{# block #}
    {% if title%}
        {{ title }}
    {% else %}
        MiniBlog
    {% endif %}
{% endblock %}

{% block navbar %}{# block #}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">MiniBlog</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">{{_("主页")}}</a></li>
                    <li><a href="{{ url_for('main.explore') }}">{{_("发现")}}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">{{_("登陆")}}</a></li>
                    {% else %}
                    <li><a href="{{ url_for('main.user', username=current_user.username) }}">{{_("个人中心")}}</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">{{_("登出")}}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}{# block #}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}{# block #}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {% if g.locale == 'zh' %}
    {{ moment.lang('zh_CN') }}
    {% else %}
    {{ moment.lang(g.locale) }}
    {% endif%}
    <script>
        function translate(sourceElem,destElem,sourceLang,destLang) {
            $(destElem).html('<img src="{{ url_for('static',filename='loading.gif') }}">');
            $.post('/translate',{
                text:$(sourceElem).text(),
                source_language:sourceLang,
                dest_language:destLang
            }).done(function (response) {
                $(destElem).text(response['text'])
            }).fail(function () {
                $(destElem).text("{{ _('Error: Could not contact server.') }}");
            });
        }
    </script>
{% endblock %}