{% extends "base.html" %}

{% block app_content %}
<div id="state_alert" class="alert alert-info" role="alert" style="display: none;"></div>
	<table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
            	<h1>{{ user.username }}</h1>
            	{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>{{_("上一次访问")}}: {{ moment(user.last_seen).format('LLL') }}</p>{% endif %}
                <p>{{_("粉丝")}}：
                    <a id="follower_num" href="{{ url_for('main.follower_list',username=user.username) }}">{{ user.followers.count() }}</a> 
                    |
                    {{_("关注")}}：
                    <a id="followed_num" href="{{ url_for('main.followed_list',username=user.username) }}">{{ user.followed.count() }} </a>
                </p>
                {% if user == current_user %}
                    <p><a href="{{ url_for('main.edit_profile') }}">{{_("编辑")}}</a></p>
                {% elif current_user.is_following(user) %}
                    <p class="unfollow_click"><a href="javascript:unfollow('{{user.username}}');">{{_("取消关注")}}</a></p>
                    <p class="follow_click" style="display: none;"><a href="javascript:follow('{{user.username}}');">{{_("点击关注")}}</a></p>
                {% else %}
                    <p class="follow_click"><a href="javascript:follow('{{user.username}}');">{{_("点击关注")}}</a></p>
                    <p class="unfollow_click" style="display: none;"><a href="javascript:unfollow('{{user.username}}');">{{_("取消关注")}}</a></p>
                {% endif %}

            </td>
        </tr>
    </table>
    {% if posts %}
    	{% for post in posts %}
    		{% include "_post.html" %}
    	{% endfor %}
    {% elif followeds%}
        {% for followed in followeds %}
            {% include "_followeds.html" %}
        {% endfor %}
    {% else %}
        {% for follower in followers %}
            {% include "_followers.html" %}
        {% endfor %}
    {% endif %}
    {% include "_pagination.html" %}
{% endblock %}