{% extends "base.html" %}

{% block content %}
    <h1>你好, {{ current_user.username }}!</h1>
    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.post.label }}<br>
                {{ form.post(cols=45, rows=2) }}<br>
                {% for error in form.post.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endif %}
    {% for post in posts %}
    <!-- <div><p>{{ post.author.username }} 说: <b>{{ post.body }}</b></p></div> -->
        {% include "_post.html" %}
    {% endfor %}
{% endblock %}
